
/*search*/
body{
   background-color: #002A42!important
}


*{
    box-sizing: border-box;
}

.home{
    display: flex;
   background-color: #0079BF !important;
   height: 80px;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 20px!important;
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.3);
  position: sticky;
  top:0;
  z-index: 99999;

}

.homeLogo{
  align-self: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  color:white;
  margin-left: 20px;
}



input{
margin-top: 5px;
margin-right:10px;
 border-radius: 60px!important;
  border: 0px ;
  padding-left: 20px;
     height: 40px;
     width:200px;
     align-self: baseline;

}

input:focus{
    outline:none;
}








        /*FRIENDS*/



.allProfilePicContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
align-content: center;
    background-color: #0079BF
/*    padding-left:2px;*/

}


.singleProfilePicContainer{

    position: relative;
      height:170px;
      flex-grow: 1;
      margin: 0 0 2px 2px;
       object-fit:cover;
           flex-basis: 190px;
           overflow:hidden;

}



.singleProfilePicContainer::before{
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height:100%;
    bottom:0;
    left:0;
    top:0;
    right:0;
   background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(41,41,41,0.46) 83%, rgba(0,0,0,0.88) 99%, rgba(0,0,0,0.91) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(41,41,41,0.46) 83%,rgba(0,0,0,0.88) 99%,rgba(0,0,0,0.91) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(41,41,41,0.46) 83%,rgba(0,0,0,0.88) 99%,rgba(0,0,0,0.91) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e8000000',GradientType=0 );

}

.profilePic{

   object-fit: cover;
    height: 100%;

}



img{
    display: block;
    width: 100%;
    
}

.info{
    position: absolute;
    left:0;
    bottom:0;

    font-size: 13px;
    color:#7efff5;
      margin-left: 10px;
  font-family: 'Jua', sans-serif;
  letter-spacing: 3px
}

.live{
    width: 70px;
    height:30px;
    position: absolute;
    top: 0;
    right:0;
    display: block;
    margin-left: -50px;


}




.singleProfilePicContainer:nth-child(3n+1){
    flex-basis:50px;
   }

.singleProfilePicContainer:nth-child(1n+3){
    flex-basis: 137px;
   }

   .singleProfilePicContainer:nth-child(2n+3){
    flex-basis: 150px;
   } 

.singleProfilePicContainer:nth-child(4n+4){
    flex-basis: 70px;
   }




   /*--------------friendDetail*/

   .detailContainer{

     margin: 0 auto;
   }



.detailProfilePicContainer > img{
     height:200px;
     width: 200px;
     border-radius:100px;
     margin: 0 auto;
     object-fit: cover;
     margin-top: 10px;
     border:4px solid #00A2FF;

}



.detailRightSide{
 
    margin-top:20px;
    padding: 5px;
    
  

}

.button{
    padding: 8px;
    background-color: #17c0eb;
    border:none;
    margin-right:10px;
    color:white;
    font-size:17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.button:hover{
    background-color: #005180;
}



.textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-family: Helvetica, sans-serif;
    padding:10px;
    font-size:19px;
}





.nameAndFollower{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
  justify-content: center
   
   
}



.followerAndFollowing{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
   
    background-color: #005180;
    color:white;
    margin-top: 20px;
    padding-left: 40px;
  
    
}

.followerAndFollowing > h1{
    margin-right: 50px;
    color:white
   

}

.nameAndFollower > h1{
    margin-right: 50px;
    color:white
}

.bio{
    color:white;
    font-size: 20px;
    line-height: 1.5
}


.detailAlbumsListContainer{
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;




}



.detailSinglePicContainer{
    flex: 1 0 calc(20% - 2px);
    overflow: hidden !important;

    margin:5px;
    height:100px;
    position: relative;
    object-fit: cover
}

.detailAlbumPic{
    position: absolute;
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover



}


.footer{
    position:sticky;
    z-index: 99999;
    height: 30px;
    padding-left: 10px;
  
   
    bottom:0;
    background: #0079BF !important;
    color:white
}



